
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif; 
  
}

header {
    background-color: rgb(202, 22, 22);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    max-width: 1200px;
   
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #f0f0f0;
}

.image-container {
    margin-top: 100;
    width: 100%;


}

.overlay-text {
    position:absolute;
    top: 120px;
    left: 100px;
    color: white;
  
}
.boxes {
    /* padding: 40px 20px; */
    max-width: 100%;
    margin: 0 auto;
    background-color: rgb(187, 198, 198);
}

.title {
    text-align: center;
    font-size: 36px;
    color: #000000;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.box {
    width: 30%;
    height: 200px;
    background-color: #3498db;
    /* border-radius: 8px; */
    color: white;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 20px;
  
}




